<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/icon.png">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="main-content">
     {{>header}}
    <img class="portrait" src="img/soviet.png">
    </div>
    
    {{>footer}}
</body>
</html>