<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/icon.png">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="main-content">
     {{>header}}
        <p>This site was created by Elvis Kwizera for node practice purpose. It uses data from <a href="http://mapbox.io">mapbox.io</a> and <a href=htttp://"darksky.net">darksky.net</a>.</p>
    <img class="portrait" src="img/soviet.png">
    </div>
    
    {{>footer}}
</body>
</html>